.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chatDetails {
  width: 98%;
  height: 9%;
  border: 2px solid #752d2d;
  border-radius: 10px;
  background-color: rgb(137, 201, 184);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chatDetails > img {
  width: 25px;
  height: 25px;
  background-color: aliceblue;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 15px;
}

.chatwindow {
  width: 98%;
  height: 88%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat {
  width: 98%;
  height: 85%;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chat>h3{
    text-align: center;
}

.chat::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.chat::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.chat::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

.chatMessageSender{
  width: 100%;
  height: fit-content;
  border: 1px solid transparent;
  margin: 5px 0;
  display: flex;
  justify-content: flex-end;
}

.chatMessageSender>div{
  width: 60%;
  height: 100%;
  background-color: rgb(135, 149, 167);
  margin-right: 20px;
  padding: 2px 5px;
  border-radius: 5px;
}

.chatMessageReceiver{
  width: 70%;
  height: fit-content;
  border: 1px solid transparent;
  margin: 5px 0;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.inputDiv {
  width: 98%;
  height: 14%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.inputDiv > input {
  width: 92%;
  height: 70%;
  border-radius: 10px;
  outline: none;
  font-size: large;
  padding-left: 10px;
}

.inputDiv > img {
  height: 40px;
  color: #3b3694;
  cursor: pointer;
}
