.container{
    width: 95%;
    height: 60px;
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 10px 0;
    padding: 0 5px;
    cursor: pointer;
}

.container:hover{
    border: 1px solid #746CFE;
}